@{
    ViewBag.Title = "Name";
}

<h2>Name</h2>

<form method="GET">
    <label for="name">Enter Your Name:</label>
    <input type="text" name="name" placeholder="Nikhil Goyal" required/>
    <input type="submit"/>
</form>

<p>
    <h1>Your Entered Name is : @ViewBag.EnteredName</h1>
</p>